---------------------------------------------------------------------------
-- Snort++ prototype configuration
---------------------------------------------------------------------------

---------------------------------------------------------------------------
-- setup environment
---------------------------------------------------------------------------
-- given:
-- export DIR=/install/path
-- configure --prefix=$DIR
-- make install
--
-- then:
-- export SNORT_LUA_PATH=$DIR/conf/
---------------------------------------------------------------------------

dir = os.getenv('SNORT_LUA_PATH')

if ( not dir ) then
    dir = '.'
end

dofile(dir .. '/snort_defaults.lua')

wizard = default_wizard

local_rules =
[[
alert tcp any any -> any any ( msg:"HOSTNAME LOGGING "; flow:established; sid:1; )
]]

event_queue =
{
    max_queue = 10,
    log = 10,
    order_events = 'content_length',
}

stream =
{
    --option deleted: 'track_icmp'
    --option deleted: 'track_tcp'
    --option deleted: 'track_udp'
}

http_inspect =
{
    iis_unicode_map_file = './unicode.map',
    iis_unicode_code_page = 1252,
    response_depth = 0,
    request_depth = 0,
    oversize_dir_length = 500,
    --ports = '80',
    normalize_utf = true,
    unzip = true,
    utf8_bare_byte = false,
    iis_double_decode = false,
    backslash_to_slash = false,
    iis_unicode = false,
    utf8 = false,
    percent_u = true,
    simplify_path = false,
    bad_characters = '0x0 0x1 0x2 0x3 0x4 0x5 0x6 0x7',
    --option change: 'bare_byte' --> 'utf8_bare_byte'
    --option change: 'client_flow_depth' --> 'request_depth'
    --option change: 'directory' --> 'simplify_path'
    --option change: 'double_decode' --> 'iis_double_decode'
    --option change: 'http_inspect_server' --> 'http_inspect'
    --option change: 'iis_backslash' --> 'backslash_to_slash'
    --option change: 'inspect_gzip' --> 'unzip'
    --option change: 'multi_slash' --> 'simplify_path'
    --option change: 'non_rfc_char' --> 'bad_characters'
    --option change: 'server_flow_depth' --> 'response_depth'
    --option change: 'u_encode' --> 'percent_u'
    --option change: 'utf_8' --> 'utf8'
    --option deleted: 'apache_whitespace'
    --option deleted: 'ascii'
    --option deleted: 'base36'
    --option deleted: 'chunk_length'
    --option deleted: 'enable_cookie'
    --option deleted: 'extended_response_inspection'
    --option deleted: 'iis_delimiter'
    --option deleted: 'log_hostname'
    --option deleted: 'max_header_length'
    --option deleted: 'max_headers'
    --option deleted: 'memcap'
    --option deleted: 'post_depth'
    --option deleted: 'webroot'
}

unified2 =
{
}

ips =
{
    id = 51,
    rules = local_rules,
}

network =
{
    id = 51,
    checksum_eval = 'none',
    --option change: 'checksum_mode' --> 'checksum_eval'
}

stream_tcp =
{
    policy = 'windows',
    require_3whs = 180,
    overlap_limit = 10,
    session_timeout = 180,
    small_segments =
    {
        count = 3,
        maximum_size = 150,
    },
    --option change: 'both ports' --> 'binder.when.ports; binder.when.role =
    --    any'
    --option change: 'timeout' --> 'session_timeout'
    --option deleted: 'detect_anomalies'
    --option deleted: 'use_static_footprint_sizes'
}

binder =
{
    { when = { service = 'http', }, use = { type = 'http_inspect', }, },
    { use = { type = 'wizard', }, },
}

